@model List<MultiShop.Models.Products>
@{
    int x = 0;
    string resPrice = "";
}
@foreach (var item in Model)
{
    <div class="product-item bg-light">
        <div class="product-img position-relative overflow-hidden" style="height:300px">
            <img class="img-fluid w-100" src="~/img/ProductsImages/@item.PrimaryImg" alt="Image">

            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" asp-area="ProductDetails" asp-controller="ProductDetails" asp-action="IndexId" asp-route-id="@item.ProductId">@item.ProductName</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                @if (int.TryParse(item.ProductPrice.ToString(), out x)) { resPrice = $"${item.ProductPrice}.00"; } else { resPrice = "$" + item.ProductPrice.ToString(); }
                <h5>@resPrice</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small>(99)</small>
            </div>
        </div>
    </div>
}

